<h1 class="Heading">My Todo-list</h1>
<section class="AddTodo">
  <input type="text" class="AddTodo-Text" placeholder="What's next?">
  <input type="date" class="AddTodo-Date">
  <input type="button" class="AddTodo-Add" value="Add">
</section>

<%= render partial: 'todo-item', locals: {
  title: 'Overdue',
  todos: Todo.overdue,
  show_due: true,
  hide_completed: true
} %>
<%= render partial: 'todo-item', locals: {
  title: 'Due Today',
  todos: Todo.due_today,
  show_due: false,
  hide_completed: false
} %>
<%= render partial: 'todo-item', locals: {
  title: 'Due Tomorrow',
  todos: Todo.due_later,
  show_due: true,
  hide_completed: false
} %>
